<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Not Hot Dog</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/css/style.css"/>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/nothotdog.js"></script>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="upload">
            <input id="img" name="file" type="file"/>
            <input type="submit" value="Check Hot Dog"/>
        </form>
        <div class="status-area">
            <span class="status"></span>
            <div class="img-area"></div>
        </div>
    </body>
</html>