<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Not Hot Dog</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/css/style.css"/>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/nothotdog.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>
        <header>
            <div class="head-wrap">
                <h1>🌭 Not Hot Dog? 🌭</h1>
            </div>
        </header>
        <div class="container">
            <form method="post" enctype="multipart/form-data" action="upload">
                <input class="btn btn-warning" id="img" name="file" type="file" accept=".jpeg,.jpg,.png"/>
                <input class="btn btn-danger" type="submit" value="Check Hot Dog"/>
            </form>
            <div class="info-area">
                <div class="img-area"></div>
                <div class="status-area">
                    <span class="status"></span>
                </div>  
            </div>
        </div>
        <footer>
            <div class="references container">
                <a class="github-button" href="https://github.com/ryanml/nothotdog" data-icon="octicon-star" data-show-count="true" aria-label="Star ryanml/nothotdog on GitHub">Star</a>
                <span class="view-container">
                    <a href="https://github.com/ryanml/nothotdog" target="_blank">View source on Github</a>
                </span>
                <span>Uploaded images are the responsibility of their respective parties.</span>
            </div>
        </footer>
    </body>
</html>